@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */

/* Normal and transformed states for product name */
/* index.css */

/* Styles for the product name animation */
 .normal-name {
    transform: translateY(0);
    transition: transform 0.5s ease, font-size 0.5s ease;
  }
  
  .smaller-name {
    transform: translateY(-1rem) translateX(-2rem);
    font-size: 1.5rem;
    transition: transform 0.5s ease, font-size 0.5s ease;
  }
  
  /* Fade-in animation for the features list */
  .feature-list {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  